In [1]:
answer_dict =  {"Q1" : 475.3163392572124,
                "Q2" : [['Chevrolet', 3643], ['Ford', 2946], ['Dodge', 2360], ['GMC', 2347], ['Toyota', 183]],
                "Q3" :  ['CNG', 'Diesel', 'Gasoline or E85', 'Gasoline or natural gas', 'Gasoline or propane', 'Midgrade', 'Premium', 'Premium Gas or Electricity', 'Premium and Electricity', 'Premium or E85', 'Regular', 'Regular Gas and Electricity', 'Regular Gas or Electricity'],
                "Q4" : None,
                "Q5" : None,
                "Q6" : [['Toyota', 133.0, 133.0, 133.0, 133.0, 158], ['Ford', 112.0, 129.0, 129.0, 129.0, 129.0], ['Volkswagen', 200.000000, 200.000000, 200.000000, 200.00000, 261.025641], ['Nissan', 249.0, 254.0, 254.5, 254.5, 254.5],['Honda', 130.000000, 167.679245, 167.679245, 167.679245, 167.679245]],
                "Q7" : None}

In [6]:
import pandas as pd
import numpy as np
url='https://drive.google.com/file/d/1PCJ7ltluquoXKi6MYTPMfwZQNI_-MIFP/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)

In [7]:
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

# Question  1:

In [3]:
# We Select the column and calculate the average with a function (.mean()) of pandas
df["CO2 Emission Grams/Mile"].mean()
#answer_dict["Q1"] =  475.3163392572124

475.3163392572124

# Question 2:

In [9]:
res2 = df['Make'].value_counts().to_frame()
print(res2[0:5])
#answer_dict["Q2"] = [['Chevrolet', 3643], ['Ford', 2946], ['Dodge', 2360], ['GMC', 2347], ['Toyota', 183]]

           Make
Chevrolet  3643
Ford       2946
Dodge      2360
GMC        2347
Toyota     1836

# Question 3:

In [5]:
df['Fuel Type'].value_counts().sort_index().keys().tolist()
#answer_dict["Q3"] =  ['CNG', 'Diesel', 'Gasoline or E85', 'Gasoline or natural gas', 'Gasoline or propane', 'Midgrade', 'Premium',
# 'Premium Gas or Electricity', 'Premium and Electricity', 'Premium or E85', 'Regular', 'Regular Gas and Electricity', 'Regular Gas or Electricity']

['CNG',
 'Diesel',
 'Gasoline or E85',
 'Gasoline or natural gas',
 'Gasoline or propane',
 'Midgrade',
 'Premium',
 'Premium Gas or Electricity',
 'Premium and Electricity',
 'Premium or E85',
 'Regular',
 'Regular Gas and Electricity',
 'Regular Gas or Electricity']

# Question 4:

In [ ]:
df.set_index('Make', inplace=True)

In [21]:
search = df.loc[['Toyota'],['Model', 'Year', 'Fuel Barrels/Year']]
print(search.sort_values(by=['Fuel Barrels/Year'],ascending=[False]))

                       Model  Year  Fuel Barrels/Year
Make
Toyota       Cab/Chassis 2WD  1992          32.961000
Toyota       Cab/Chassis 2WD  1989          32.961000
Toyota       Cab/Chassis 2WD  1993          32.961000
Toyota       Cab/Chassis 2WD  1990          32.961000
Toyota       Cab/Chassis 2WD  1991          32.961000
...                      ...   ...                ...
Toyota  Prius Plug-in Hybrid  2014           4.737144
Toyota  Prius Plug-in Hybrid  2013           4.737144
Toyota             Camry CNG  2001           0.084545
Toyota             Camry CNG  2000           0.084545
Toyota             Camry CNG  1999           0.080870

[1836 rows x 3 columns]

# Question 5:

# Question 6:

In [19]:
#answer_dict["Q3"] =
#[['Toyota', 133.0, 133.0, 133.0, 133.0, 158], ['Ford', 112.0, 129.0, 129.0, 129.0, 129.0],
#['Volkswagen', 200.000000, 200.000000, 200.000000, 200.00000, 261.025641], ['Nissan', 249.0, 254.0, 254.5, 254.5, 254.5],
#['Honda', 130.000000, 167.679245, 167.679245, 167.679245, 167.679245]]

In [13]:
#Toyota, Ford, Volkswagen, Nissan, Honda 
val1=df.loc[['Toyota'],['CO2 Emission Grams/Mile']]
cToyota = val1.sort_values(by=['CO2 Emission Grams/Mile'],ascending=[True])
print(cToyota[0:5])

        CO2 Emission Grams/Mile
Make
Toyota                    133.0
Toyota                    133.0
Toyota                    133.0
Toyota                    133.0
Toyota                    158.0

In [14]:
#Toyota, Ford, Volkswagen, Nissan, Honda 
val2=df.loc[['Ford'],['CO2 Emission Grams/Mile']]
cFord = val2.sort_values(by=['CO2 Emission Grams/Mile'],ascending=[True])
print(cFord[0:5])

      CO2 Emission Grams/Mile
Make
Ford                    112.0
Ford                    129.0
Ford                    129.0
Ford                    129.0
Ford                    129.0

In [15]:
#Toyota, Ford, Volkswagen, Nissan, Honda 
val3=df.loc[['Volkswagen'],['CO2 Emission Grams/Mile']]
cVolkswagen = val3.sort_values(by=['CO2 Emission Grams/Mile'],ascending=[True])
print(cVolkswagen[0:5])

            CO2 Emission Grams/Mile
Make
Volkswagen               200.000000
Volkswagen               200.000000
Volkswagen               200.000000
Volkswagen               200.000000
Volkswagen               261.025641

In [16]:
#Toyota, Ford, Volkswagen, Nissan, Honda 
val4=df.loc[['Nissan'],['CO2 Emission Grams/Mile']]
cNissan  = val4.sort_values(by=['CO2 Emission Grams/Mile'],ascending=[True])
print(cNissan[0:5])

        CO2 Emission Grams/Mile
Make
Nissan                    249.0
Nissan                    254.0
Nissan                    254.5
Nissan                    254.5
Nissan                    254.5

In [17]:
#Toyota, Ford, Volkswagen, Nissan, Honda 
val5=df.loc[['Honda'],['CO2 Emission Grams/Mile']]
cHonda  = val5.sort_values(by=['CO2 Emission Grams/Mile'],ascending=[True])
print(cHonda[0:5])

       CO2 Emission Grams/Mile
Make
Honda               130.000000
Honda               167.679245
Honda               167.679245
Honda               167.679245
Honda               167.679245

# Question 7: